.profile {
  padding: 40px 0 50px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .profile {
    padding: 40px 19px 50px;
    max-width: 580px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 42px 0 36px;
    flex-direction: column;
    gap: 0;
  }
}
