.header__email {
  margin: 0;
  padding: 0;
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}

@media screen and (max-width: 650px) {
  .header__email {
    margin-right: 0px;
    margin-bottom: 18px;
  }
}
