.popup__question {
  margin: 0;
  padding-bottom: 22px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 425px) {
  .popup__question {
    font-size: 18px;
  }
}
